* {
    background-color: black;
    color: white;
    text-align: center;
}
h1 {
    font-size: 10vw;
}
.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
div {
    font-size: 6vw;
}

